:root {
  --bg-black: #090711;
  --bg-white: #fff;
  --font-white: #fff;
  --font-black: #000000;
  --font-yellow: #FFED63;
  --bg-orange: #FEBE28;
  font-family: 'Krona One', sans-serif;
  font-family: "Montserrat", sans-serif;
  --bg-blue: #0000FF;
}

* {
  margin: 0; 
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.center-content {
  width: 100%;
  padding: 0 3% 0 3%;
}

@media (max-width: 768px) {

}


@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1024px) and (max-width: 1550px) {
    
}   