.goodcontainer{
    display: flex;
    padding-top: 50px;
    height: 100vh;
}

.bg-good-container{
    position: relative;
    width: 50%;

}

.good-img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;

}

.good-info{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px 20px 0px 20px;
    flex: 1;
    
}

.add-to-cart-btn{
    background-color: var(--bg-blue);
    color: white;
    border: none;
    height: 70px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.add-to-cart-btn:hover {
    animation: slide-up 0.1s ease forwards;
    animation-delay: 0.05s; 
    box-shadow: 0 8px 20px rgba(25, 0, 255, 0.192); 
  }

  @keyframes slide-up {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px);
    }
  }

.good-name{
    font-weight: bolder;
    font-size: 32px;
}

.artcl{
    color: #A4A4A4;
    font-size: 15px;
}

.good-price{
    font-weight: bolder;
    font-size: 25px;
    margin: 20px 0px 20px 0px;
}

.color-name , .size-name{
    font-weight: bolder;
    font-size: 25px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.description-header, .composition-and-care-header{
    font-weight: bolder;
    font-size: 25px;
}

.description, .composition-and-care{
    margin-bottom: 20px;
}

.add-to-cart-btn.animate {
    animation: cartbeatButton 0.45s;
}

@keyframes cartbeatButton { 
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(0.9);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.size-name-datalist {
    font-size: 16px; 
    width: 100%; 
    padding: 3px; 
    margin-top: 3px; 
    border: 2px solid #ccc; 
    border-radius: 4px; 
    text-align: center; 
    text-align-last: center;
    height: 30px;
    transition: border 0.25s ease;
    margin-left: 5px;
    
}

.size-name-datalist:focus {
    outline: 2px solid transparent;
}

.size-name-datalist:hover {
    border: 2px solid #274bff ; 
    box-shadow: 0 0px 6px rgba(39, 75, 255, 0.5);
}

.add-to-cart-btn-button{
    border: none;
    background-color: transparent;
}

.meter-for-body {
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    background-color: transparent;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 3px;
}

.meter-for-body-background {
    background-image: url('../static/public/meter-for-body.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 70%;
    height: 70%;
}

.meter-for-body:hover{
    border: 2px solid #274bff ; 
    box-shadow: 0 0px 6px rgba(39, 75, 255, 0.5);
}

.meter-table-container-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meter-table-container{
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px; 
    height: 600px;
    max-width: 90%;
    max-height: 85%;
    overflow-y: auto;
    border: 3px solid #ccc;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0px 6px rgba(38, 38, 38, 0.5);
    background-color: #fff;
    z-index: 1100; 
    display: none;
}

.meter-table-container-title-container h1{
    font-size: 25px;
}

.meter-table-container-close-button {
    font-size: 20px;
    cursor: pointer;
    color: #919191;
    transition: color 0.1s ease;
}

.meter-table-container-close-button:hover {
    color: #ff0000; 
}

.meter-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
    display: none;
}

body.locked {
    overflow: hidden;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.tab-button {
    padding: 8px 20px;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab-button.active {
    border: 2px solid #274bff ; 
    box-shadow: 0 0px 6px rgba(39, 75, 255, 0.5);
}

.tab-content {
    display: none;
}
  
.tab-content:not(.hidden) {
    display: block;
}
  
.hidden {
    display: none;
}

.tab-content-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.how-to-measure-photo{
    width: 300px;
}

.how-to-measure-text{
    width: 600px;
}

.how-to-measure-text h1{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
}

.how-to-measure-text h2{
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 300;
}

.how-to-measure{
    margin-top: 40px;
}


