.header-container{
    display: flex;
    justify-content: right;

}

.header-block{
    width: 58%;
    display: flex;
    justify-content: space-between;
}

.container-like-cart{
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: space-between;
}

.like-container{
    display: flex;
    height: 100px;
    align-items: center;

}

.likes-counter{
    font-size: 22px;
    margin-bottom: 40px;

    
}
@media (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1024px) and (max-width: 1550px) {
    
}   
