.header-container{
    display: flex;
    justify-content: space-between;

}

.header-block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-like-cart{
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: space-between;
}

.like-container{
    display: flex;
    height: 100px;
    align-items: center;
}

.likes-counter{
    font-size: 20px;
    margin-bottom: 40px;  
}

.cart-counter{
    font-size: 20px;
    margin-bottom: 40px;  
}

.logo-img{
    width: 170px;
}

.like-img , .cart-img{
    height: 20px;
}



/* .like-container {
    position: relative;
    display: inline-block;
}

.accDropdownChild {
    display: none;
    background-color: rgba(57, 57, 57, 0.755);
    backdrop-filter: blur(5px);
    position: absolute; 
    top: 100%; 
    left: 0; 
    z-index: 1; 
    border-radius: 8px;

}

.accDropdownChild a {
    color: white;
    text-decoration: none;
    display: block;
    width: 250px;
}

.accDropdownChild img {
    all: unset;
    width: 25px;
    margin: 4px;
}

.dropdownAccount:hover .accDropdownChild {
    display: block;
}

.containerForMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 0px 10px;

} */

@media (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1024px) and (max-width: 1550px) {
    
}   
