{% include "./components/header.html" %}
<h1>Add good</h1>
<form action="{{ url_for('admin', password=password) }}" method="post">
  {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
  <p class="text-center">{{ message }}</p>
  {% endfor %} {% endif %} {% endwith %}
  <h2>Назва</h2>
  <label for=""><input style="margin-bottom: 40px;" type="name" name="name" required="required" /></label>
  <h2>Картинка спереду</h2>
  <label for=""><input style="margin-bottom: 40px;" type="img_url_front" name="img_url_front" required="required" /></label>
  <h2>Картинка ззаду</h2>
  <label for=""><input style="margin-bottom: 40px;" type="img_url_back" name="img_url_back" required="required" /></label>
  <h2>Артикул</h2>
  <label for=""><input style="margin-bottom: 40px;" type="code" name="code" required="required" /></label>
  <h2>Ціна</h2>
  <label for=""><input style="margin-bottom: 40px;" type="price" name="price" required="required" /></label>
  <h2>Колір</h2>
  <label for=""><input style="margin-bottom: 40px;" name="color" required="required" /></label>
  <h2>Розмір</h2>
  <label for=""><input style="margin-bottom: 40px;" type="size" name="size" required="required" /></label>
  <h2>Опис</h2>
  <label for=""><input style="margin-bottom: 40px;" type="description" name="description" required="required" /></label>
  <h2>Склад та догляд</h2>
  <label for=""><input style="margin-bottom: 40px;" type="made_of" name="made_of" required="required" /></label>
  <button type="submit">Add good</button>
</form>
{% include "./components/footer.html" %}
