{% include "./components/header.html" %}
<div class="goodcontainer">
  <div class="bg-good-container">
    <div class="good-img">
      <img src="{{good.img_url_front}}" alt="hdeu" style="width: 100%;"/>
    </div>
  </div>
  <div class="good-info">
    <div class="good-name">{{good.name}}</div>
    <div class="artcl">Артикул: {{good.code}}</div>
    <div class="good-price">{{good.price}}$</div>
    <div class="color-name">Колір: {{good.color}}</div>
    <div class="colors-available">...</div>
    <div class="size-name">Розмір: {{good.size}}</div>
    <div class="size-available">S M L /*ФІКСИТИ!!*/</div>
    <div class="description-header">Опис:</div>
    <div class="description">{{good.description}}</div>
    <div class="composition-and-care-header">Склад та доглад:</div>
    <div class="composition-and-care">{{good.made_of}}</div>
    <button class="add-to-cart-btn">ДОДАТИ В КОШИК</button>
  </div>
</div>
{% include "./components/footer.html" %}
