{% include "./components/header.html" %}

<div class="bg-image-welcome-page-container">
    <h1 class="upper-text">
        IT STEP MERCH<br>
         <span>Buy our merch</span>
        </h1>
    <button class="to-catalog-btn" onclick="scrollToCatalog()" >В КАТАЛОГ</button>
</div>

<div class="bg-image-welcome-page-about-container">
  <h1 class="main-text-about">
    наша<br />
    <span>мета</span>
  </h1>
  <h2 class="about-text">
    Наша мета — зробити бренд ІТ СТЕП Університету відомим і гордим символом якості освіти та сучасного підходу до навчання. Обирайте мерч, носіть з
    гордістю та долучайтеся до великої сім'ї ІТ СТЕП!
  </h2>
</div>

<div class="welcome-page-catalog-container">
    <h1 class="main-text-catalog" id="catalogTitle">каталог товарів</h1>
    
    <div class="welcome-page-good-container">
        {% for good in all_goods %}

        <div class="good-catalog-wrapper">
            <div class="options-good-catalog-flex">
                <div class="options-good-catalog">
                    <button class="like-good-catalog" id="{{good.id}}" onclick="toggleLike('{{good.id}}'); animateLike('{{good.id}}')"></button>
                    <button class="cart-good-catalog" id="cart-{{good.id}}" onclick="toggleCart('cart-{{good.id}}'); animateCart('cart-{{good.id}}')"></button>
                </div>
            </div>
            <a class="good-item-wraper" href = "{{url_for('good', id=good.id)}}">
                <div class="good-item-container">
                    <img class="good-item good-item-original" src="{{good.img_url_front}}" alt="good item"/>
                    <img class="good-item good-item-hover" src="{{good.img_url_back}}" alt="good item"/>
                </div>
                <div class="good-name" >{{good.name}}</div>
                <div class="good-price">${{good.price}}</div>
            </a>
        </div> 
        {% endfor %}
    </div>
</div>

{% include "./components/footer.html" %}
