<!DOCTYPE html>
<html lang="en">
  <head>
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block styles %} {{ bootstrap.load_css() }} {% endblock %}
    <link rel="stylesheet" href="../../static/header.css">
    <link rel="stylesheet" href="../../static/global.css">
    <link rel="stylesheet" href="../../static/home.css">
    <link rel="stylesheet" href="../../static/footer.css">
    <link rel="stylesheet" href="../../static/good.css">
    <link rel="stylesheet" href="../../static/paiment.css">
    <title>Document</title>
    <script>
      let cartCounterOnPage = 0
      let likesCounterOnPage = 0
      document.addEventListener('DOMContentLoaded', () => {
          const likeButton = document.querySelector('.like-good-catalog');
          const likesCounter = document.querySelector('.likes-counter');
          likesCounter.textContent = likesCounterOnPage;
          likeButton.addEventListener('click', () => {
              likeButton.classList.add('animate');
              setTimeout(() => {
                  likeButton.classList.remove('animate');
              }, 450); 
              likeButton.style.backgroundImage = "url('/static/public/likeIcon-hover.png')";
              likesCounterOnPage += 1;
              likesCounter.textContent = likesCounterOnPage;
          });
      });

      document.addEventListener('DOMContentLoaded', () => {
          const cartButton = document.querySelector('.cart-good-catalog');
          const cartCounter = document.querySelector('.cart-counter');
          cartCounter.textContent = cartCounterOnPage;
          cartButton.addEventListener('click', () => {
              cartButton.classList.add('animate');
              setTimeout(() => {
                cartButton.classList.remove('animate');
              }, 450); 
              cartButton.style.backgroundImage = "url('/static/public/cartIcon-hover.png')";
              cartCounterOnPage += 1;
              cartCounter.textContent = cartCounterOnPage;
          });
      });

      document.addEventListener('DOMContentLoaded', () => {
          const toCartButton = document.querySelector('.add-to-cart-btn');
          const cartCounter = document.querySelector('.cart-counter');
          cartCounter.textContent = cartCounterOnPage;
          toCartButton.addEventListener('click', () => {
            toCartButton.classList.add('animate');
              setTimeout(() => {
                toCartButton.classList.remove('animate');
              }, 450); 
              cartCounterOnPage += 1;
              cartCounter.textContent = cartCounterOnPage;
          });
      });
  </script>
  </head>
  <body>
    <div class="center-content">
      <header>
        <div class="header-container">
          <div class="header-block">
            <a href = "{{url_for('home')}}" class="logo">
              <img src="../../static/public/logo.png" alt="" class="logo-img">
            </a>
            <div class="container-like-cart">
             <div class="like-container">
              <div class="like">
                <img src="../../static/public/likeIcon.png" alt="" class="like-img">
              </div>
              <div class="likes-counter"></div>
             </div>
             <div class="like-container">
              <a href = "{{url_for('paiment')}}" class="like">
                <img src="../../static/public/cartIcon.png" alt="" class="cart-img">
              </a>
              <div class="cart-counter"></div>
             </div>
            </div>
        </div>
      </div>
      </header>
</html>
